<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <nav class = "nav-bar">
      <div class = "flex">
      <a class = "anchor-text" href = "/">Home</a>
      <a class = "anchor-text" href = "/dashboard">Dashboard</a>
      {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
      </div>
      <div class = "flex">
        <h1 class = "title border">Tech Blog</h1>
      </div>
    </nav>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>