  <section class = "section">
      <div class = "card">
        <div class = "card-title">
          <h1>{{newData.title}}</h1><p>Created by on {{createdAt}}</p>
        </div>
        <div class = "card-content">
          <p>{{newData.content}}</p>
        </div>
      </div>
      <div>
      <form>
        <div class = "comment-form">
          <div>
        <textarea class = "text" id = "comment" rows="7" cols="65">
          Leave a comment here
        </textarea>
        </div>
        <div>
        <button>Submit comment</button>
        </div>
        </div>
      </form>
     
  </section>
