{{#if loggedIn}}
  <section>
    {{#each newData}}
      <div>
        <p>{{this.title}}</p>
        <p>{{this.content}}</p>
      </div>
    {{/each}}
  </section>
{{else}}
  <a href="/login">Must sign in to view content</a>
{{/if}}