
{{#if loggedIn}}
    {{> dashboard-details}}
<form class = "sub-btn section">
    <label for = "title">Title:</label>
    <input type = "text" id = "title">
    <label for = "blog">Blog content:</label>
    <textarea class = "text" id = "blog" rows="7" cols="65">
    </textarea>
    <button type = 'submit'>create blog</button>
</form>
<script src="../js/newblog.js"></script>
{{else}}
<div class = "notlogin">
<a href = "/login"><p class = 'big'>Must sign in to view content</p></a>
</div>
{{/if}}
