
{{#if loggedIn}}
    {{> dashboard-details}}
<form class = "sub-btn section">
    <label for = "title">Title:</label>
    <input type = "text" id = "title">
    <label for = "blog">Blog content:</label>
    <input type = "text" id = "blog">
    <button type = 'submit'>create blog</button>
</form>
<script src="../js/newblog.js"></script>
{{else}}
<a href = "/login">Must sign in to view content</a>
{{/if}}
