<div class="section">
  <div class="card">
    <div class="card-title background">
      <h1 class = 'color'>{{newData.title}}</h1><p class = 'color'>Created by
        {{newData.user.username}}
        on
        {{sessionData}}</p>
    </div>
    <div class="card-content">
      <p>{{newData.content}}</p>
    </div>
  </div>
</div>
<form class="sub-btn section">
  <label for="title">Title:</label>
  <input type="text" id="title" />
  <label for="blog">Blog content:</label>
  <textarea class="text" id="blog" rows="7" cols="65">
  </textarea>
  <button type="submit">Update blog</button>
</form>
<div class="section">
  <button class="delete">Delete blog</button>
</div>
<script src="../js/delete.js"></script>
<script src="../js/edit.js"></script>