{{#if loggedIn}}
  <section class="section">
    {{> homepage-details}}
  </section>
{{else}}
<div class = 'notlogin'>
  <a href="/login"><p class = 'big'>Must sign in to view content</p></a>
  </div>
{{/if}}