{{#if loggedIn}}
  <section>
    {{#each blogs as |blog|}}
      <div>
        <div>
          {{blog.title}}
        </div>
        <div>
          <a href = '/blog/{{id}}'>{{blog.content}}</a>
        </div>
      </div>
    {{/each}}
  </section>
{{else}}
  <a href="/login">Must sign in to view content</a>
{{/if}}