  <div class = 'login'>
    <div>
      <h2>Login</h2>
      <form class="login-form">
        <div style = "margin: 10px;">
          <label for="username-login">Username:</label>
          <input type="text" id="username-login" />
        </div>
        <div style = "margin: 10px;">
          <label for="password-login">Password:</label>
          <input type="password" id="password-login" />
        </div>
        <div>
          <button type="submit" style = "margin: 10px;">login</button>
        </div>
      </form>
    </div>
    <div>
      <h2>Signup</h2>
      <form class="signup-form">
        <div style = "margin: 10px;">
          <label for="username-signup">Username:</label>
          <input type="text" id="username-signup" />
        </div>
        <div style = "margin: 10px;">
          <label for="email-signup">Email:</label>
          <input type="text" id="email-signup" />
        </div>
        <div style = "margin: 10px;">
          <label for="password-signup">Password:</label>
          <input type="password" id="password-signup" />
        </div>
        <div style = "margin: 10px;">
          <button type="submit">signup</button>
        </div>
      </form>
    </div>
  </div>

<script src="../js/login.js"></script>